@import '../../scss/variables.module.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;

  .rightContainer  {
    display: flex;
    align-items: center;

    .wrapfoo {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      .alert {
        margin-right: 1rem;
      }
    }

    .button {
      padding: 11px 14px;
      line-height: 1rem;
      font-weight: 700;
    }

    .spacer {
      width: 1rem;
    }

    .input  {
      padding: 9.5px 28px 9.5px 14px;

      &:disabled, &[readonly] {
        background-color: $disabledGrey;
        opacity: 1;
      }
    }

    &.mobile {
      display: none;
    }

    &.desktop {
      display: inherit;
    }
  }
}

.drawerContainer {
  .drawerHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
  }
  .drawerContents {
    padding: 1rem;

    .wrapfoo {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 50vw;

      .alert {
        margin-top: 0.5rem;
      }
    }

    .spacer {
      width: 1rem;
      padding: 0.5rem;
    }

    .input  {
      padding: 10.5px 5rem 10.5px 14px;

      &:disabled, &[readonly] {
        background-color: $disabledGrey;
        opacity: 1;
      }
    }
  }
}

.alert {
  font-style: italic;
  font-size: 0.9rem;
  color: #A20101;

  &.hidden {
    display: none;
  }
}

@media screen and (max-width: $mdBreakpoint) {
  .container {
    .rightContainer  {
      &.mobile {
        display: inherit;
      }

      &.desktop {
        display: none;
      }
    }
  }
}
