@import '../../scss/variables.module.scss';

.container {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 300;

  .timer {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 0.5rem;

    &.isRunning {
      color: $mdGrey;
    }

    &.isComplete {
      color: $green;
    }
  }
}
