@import '../../scss/variables.module.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.statusbar { 

}

@media screen and (max-width: $mdBreakpoint) {
  .table {
    width: 100%;
    overflow-x: auto;
    display: block;
    justify-content: flex-start;
  }
}
