@import '../../scss/variables.module.scss';

.header {
  background-color: $white;
  color: $black;

  padding: 1rem;
  width: 100%;
  span {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.outer {
  background-color: $lighterGrey;
  width: 100%;
  padding: 0;

  .inner {
    padding: 0 1rem;
  }

  .title {
    margin-bottom: 0.75rem;
  }
}

.footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media screen and (max-width: $mdBreakpoint) {

	.footer {
	  position: relative;
    right: auto;
	  padding: 1rem;
	  bottom: 0px;
	}
}
