@import '../../scss/variables.module.scss';

.outer {
  background-color: $white;
  color: $black;
  width: 100%;

  .inner {
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}
